<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">  
  
<hibernate-configuration>  
  
	<session-factory>
		<property name="hbm2ddl.auto">create</property>  
        <property name="connection.dialect">org.hibernate.dialect.Oracle10gDialect</property>  
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>  
        <property name="connection.username">sys as sysdba</property>  
        <property name="connection.password">9039</property>  
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property> 
        <property name="show_sql">true</property> 
        <property name="connection.pool_size">1</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
   <!--  <mapping resource="employee.hbm.xml"/>   -->
  		 <mapping class="org.model.Doctor"/>
  		 <mapping class="org.model.Vehicle"/>
  		 <mapping class="org.model.FourWheeler"/>
  		 <mapping class="org.model.TwoWheeler"/>
  		




	</session-factory>
  
</hibernate-configuration> 